div.app-wrap {
  display: flex;
  min-width: 800px;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

header.app {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(16, 16, 16, 0.9);
  justify-content: space-between;
}

main.app {
  display: flex;
  justify-content: center;
}

footer.app {
  height: 20px;
  display: flex;
  justify-content: space-between;
  font-size: small;
}

header.app .controls {
  align-self: center;
}

:root {
  --max-height: calc(100vh - 220px);
  --cell-width: calc(100% / 21);
  --cell-max-width: calc(var(--max-height) / 13);
  --color-reaver-primary: 246,36,37;
  --color-reaver-secondary: 60,45,85;
  --color-dynamic-primary: 151,251,225;
  --color-dynamic-secondary: 44,71,84;
  --color-knight-primary: 114,220,246;
  --color-knight-secondary: 1,24,91;
  --color-glitch-primary: 164,179,79;
  --color-glitch-secondary: 54, 109, 42;
  --color-bio-primary: 76,128,28;
  --color-bio-secondary: 49,84,19;
  --color-celestial-primary: 249,45,142;
  --color-celestial-secondary: 17,17,61;
  --color-holo-primary: 57,219,162;
  --color-holo-secondary: 0, 110, 109;
  --color-guest-primary: 226,252,84;
  --color-guest-secondary: 226,252,84
}

main.app .grid {
  width: 100%;
  height: auto;
  max-width: calc(var(--max-height) * calc(21 / 13));
  max-height: var(--max-height);
  border: 1px solid rgba(16, 16, 16, 0.9);
  border-left: none;
  border-top: none;
}

.grid .row {
  display: flex;
}

.grid .cell{
  width: var(--cell-width);
  max-width: var(--cell-max-width);
  aspect-ratio: 1;
  border: 1px solid rgba(16, 16, 16, 0.9);
  border-right: none;
  border-bottom: none;
}

.palette .selected-swatch{
  font-size: small;
  font-style: italic;
}

.swatches {
  display: flex;
  gap: 2px;
}

.swatches div {
  width: 15px;
  height: 15px;
  border-radius: 2px;
}

.preview {
  height: 75px;
  aspect-ratio: 1;
  align-self: center;
}

.bark {
  background: #cba287 ;
  position: relative;
}

.bark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/bark.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.black-rock {
  background: #26262a;
  position: relative;
}
.black-rock::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/black-rock.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.clay {
  background: #d2af8f;
  position: relative;
}
.clay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/clay.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.concrete {
  background: #c7c6cb;
  position: relative;
}
.concrete::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/concrete.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.grassland {
  background: #9d9c5b;
  position: relative;
}
.grassland::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/grassland.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.heavy-metal {
  background: #5b2b62;
  position: relative;
}
.heavy-metal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/heavy-metal.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.lawn {
  background: #726b31;
  position: relative;
}
.lawn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/lawn.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.light-concrete {
  background: #97919a;
  position: relative;
}
.light-concrete::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/light-concrete.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.metal {
  background: #aa7cad;
  position: relative;
}
.metal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/metal.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.nailed-metal {
  background: #342140;
  position: relative;
}
.nailed-metal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/nailed-metal.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.sand {
  background: #d0c3ba;
  position: relative;
}
.sand::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/sand.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.warehouse {
  background: #b7b0bd;
  position: relative;
}
.warehouse::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/warehouse.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.water {
  background: rgba(25,91,173,1);
  position: relative;
}
.water::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/water.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.watermelon {
  background: #354220;
  position: relative;
}
.watermelon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/watermelon.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.wooden-floor {
  background: #a8694b;
  position: relative;
}
.wooden-floor::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/wooden-floor.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.swatches .dynamic {
  background: rgb(var(--color-dynamic-primary));
}

.grid.dynamic {
  --color-primary: var(--color-dynamic-primary);
  --color-secondary: var(--color-dynamic-secondary);
}

.swatches .glitch {
  background: rgb(var(--color-glitch-primary));
}

.grid.glitch {
  --color-primary: var(--color-glitch-primary);
  --color-secondary: var(--color-glitch-secondary);
}

.swatches .bio {
  background: rgb(var(--color-bio-primary));
}

.grid.bio {
  --color-primary: var(--color-bio-primary);
  --color-secondary: var(--color-bio-secondary);  
}

.swatches .knight {
  background: rgb(var(--color-knight-primary));
}

.grid.knight {
  --color-primary: var(--color-knight-primary);
  --color-secondary: var(--color-knight-secondary);
}

.swatches .celestial {
  background: rgb(var(--color-celestial-primary));
}

.grid.celestial {
  --color-primary: var(--color-celestial-primary);
  --color-secondary: var(--color-celestial-secondary);
}

.swatches .reaver {
  background: rgb(var(--color-reaver-primary));
}

.grid.reaver {
  --color-primary: var(--color-reaver-primary);
  --color-secondary: var(--color-reaver-secondary);
}

.swatches .holo {
  background: rgb(var(--color-holo-primary));
}

.grid.holo {
  --color-primary: var(--color-holo-primary);
  --color-secondary: var(--color-holo-secondary);
}

.grid {
  background: radial-gradient(rgb(var(--color-primary)), rgb(var(--color-secondary)));
}

.swatches .legendary {
  background: rgb(0,0,0);
}

.grid.legendary {
  --color-secondary: 255,255,255;
  --color-stops-1: 255,230,72;
  --color-stops-2: 143,243,253;
  --color-stops-3: 119,102,249;
  --color-stops-4: 242,86,195;
  --color-primary: linear-gradient(-225deg,rgb(var(--color-stops-1)),rgb(var(--color-stops-2)),rgb(var(--color-stops-3)),rgb(var(--color-stops-4)));
  background: var(--color-primary);
}

.dynamic .base {
  background: #c794d9;
  position: relative;
}
.dynamic .base::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/dynamic-base.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.glitch .base {
  background: #cdb96b;
  position: relative;
}
.glitch .base::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/glitch-base.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.bio .base {
  background: #dcb19c;
  position: relative;
}
.bio .base::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/bio-base.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.knight .base {
  background: #829399;
  position: relative;
}
.knight .base::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/knight-base.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.celestial .base {
  background: #735ac5;
  position: relative;
}
.celestial .base::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/celestial-base.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.reaver .base {
  background: #432c53;
  position: relative;
}
.reaver .base::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/reaver-base.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.holo .base {
  background: #12927d;
  position: relative;
}
.holo .base::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/holo-base.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.legendary .base {
  background: #1f2034;
  position: relative;
}
.legendary .base::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/legendary-base.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.blank {
  background: clear;
}

.swatches div {
  border: 1px solid rgba(16, 16, 16, 0.9);
}

.swatches .blank.selected,
.swatches .tile.selected {
  border-style: dashed;
}

@keyframes borderAnimation {
  from {
    background-position: 0 0, -2px 0, 100% -2px, 0 100%;
  }
  to {
    background-position: 0 -2px, 0 0, 100% 0, -2px 100%;
  }
}

.swatches .selected:not(.blank) {
  border-style: dashed;
  background-image: repeating-linear-gradient(
      -60deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    ),
    repeating-linear-gradient(
      30deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    ),
    repeating-linear-gradient(
      120deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    ),
    repeating-linear-gradient(
      210deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    );
  background-size: 1px calc(100% + 4px), calc(100% + 4px) 1px,
    1px calc(100% + 4px), calc(100% + 4px) 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation 1s infinite linear;
}

.swatches .blank {
  background-image: linear-gradient(
      -45deg,
      transparent 47%,
      red 47%,
      red 53%,
      transparent 53%,
      transparent 100%
    ),
    linear-gradient(
      -45deg,
      transparent 47%,
      red 47%,
      red 53%,
      transparent 53%,
      transparent 100%
    );
}

.preview.blank {
  border: 2px dashed rgb(16, 16, 16, 0.5);
  background-image: linear-gradient(
      -45deg,
      transparent 49%,
      red 49.5%,
      red 50.5%,
      transparent 50.5%,
      transparent 100%
    ),
    linear-gradient(
      -45deg,
      transparent 49.5%,
      red 49.5%,
      red 50.5%,
      transparent 50.5%,
      transparent 100%
    );
}

.restricted.portal {
  background: #504b36;
  position: relative;
}
.restricted.portal.first::after {
  content: "";
  position: absolute;
  background-image: url("../public/images/portal.png");
  width: 202%;
  aspect-ratio: 1;
  background-size: 100% 100%;
  z-index: 1;
  opacity: 0.95;
}

.restricted.big-portal {
  background: #121012;
  position: relative;
}
.restricted.big-portal.first::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background-image: url("../public/images/portal-rift.png");
  width: calc(303% + 3px);
  aspect-ratio: 1;
  background-size: 100% 100%;
  z-index: 1;
  opacity: 0.95;
}

