div.app-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

header.app {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(16, 16, 16, 0.9);
}

main.app {
  display: flex;
  justify-content: center;
}

header.app .controls {
  align-self: flex-end;
}

main.app .grid {
  width: 100%;
  border: 1px solid rgba(16, 16, 16, 0.9);
  border-left: none;
  border-top: none;
}

.grid .row {
  display: flex;
}

.grid .cell{
  width: calc(100% / 21);
  aspect-ratio: 1;
  border: 1px solid rgba(16, 16, 16, 0.9);
  border-right: none;
  border-bottom: none;
}


.color-palette {
  display: flex;
  gap: 2px;
}

.color-palette div {
  width: 15px;
  height: 15px;
  border-radius: 2px;
}


.bark {
  background: #cba287;
}
.black-rock {
  background: #26262a;
}
.clay {
  background: #d2af8f;
}
.concrete {
  background: #c7c6cb;
}
.grassland {
  background: #9d9c5b;
}
.heavy-metal {
  background: #5b2b62;
}
.lawn {
  background: #726b31;
}
.light-concrete {
  background: #97919a;
}
.metal {
  background: #aa7cad;
}
.nailed-metal {
  background: #342140;
}
.sand {
  background: #d0c3ba;
}
.warehouse {
  background: #b7b0bd;
}
.watermelon {
  background: #354220;
}
.wooden-floor {
  background: #a8694b;
}

.color-palette .bio {
  background: #416f19;
}

.color-palette .knight {
  background: #54a9c9;
}

.color-palette .glitch {
  background: #5c787f;
}

.grid.bio {
  background: #416f19;
}
.grid.knight {
  background: #54a9c9;
}
.grid.glitch {
  background: #5c787f;
}

.blank {
  background: clear;
}

.color-palette div {
  border: 1px solid rgba(16, 16, 16, 0.9);
}

.color-palette .blank.selected,
.color-palette .tile.selected {
  border-style: dashed;
}

@keyframes borderAnimation {
  from {
    background-position: 0 0, -2px 0, 100% -2px, 0 100%;
  }
  to {
    background-position: 0 -2px, 0 0, 100% 0, -2px 100%;
  }
}

.color-palette .selected:not(.blank) {
  border-style: dashed;
  background-image: repeating-linear-gradient(
      -60deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    ),
    repeating-linear-gradient(
      30deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    ),
    repeating-linear-gradient(
      120deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    ),
    repeating-linear-gradient(
      210deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    );
  background-size: 1px calc(100% + 4px), calc(100% + 4px) 1px,
    1px calc(100% + 4px), calc(100% + 4px) 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation 1s infinite linear;
}

.color-palette .blank,
.color-palette .blank.selected {
  background-image: linear-gradient(
      -45deg,
      transparent 47%,
      red 47%,
      red 53%,
      transparent 53%,
      transparent 100%
    ),
    linear-gradient(
      -45deg,
      transparent 47%,
      red 47%,
      red 53%,
      transparent 53%,
      transparent 100%
    );
}

.knight .restricted.base {
  background: #829399;
}

.glitch .restricted.base {
  background: #c794d9;
}

.bio .restricted.base {
  background: #dcb19c;
}

.restricted.portal {
  background: #504b36;
}

.restricted.big-portal {
  background: #121012;
}

