div.app-wrap {
  display: flex;
  min-width: 800px;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

header.app {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(16, 16, 16, 0.9);
  justify-content: space-between;
}

main.app {
  display: flex;
  justify-content: center;
}

header.app .controls {
  align-self: center;
}

main.app .grid {
  width: 100%;
  max-width: calc(calc(100vh - 200px) * calc(21 / 13));
  max-height: calc(100vh - 200px);
  border: 1px solid rgba(16, 16, 16, 0.9);
  border-left: none;
  border-top: none;
}

.grid .row {
  display: flex;
}

.grid .cell{
  width: calc(100% / 21);
  max-width: calc(calc(100vh - 200px) / 13);
  aspect-ratio: 1;
  border: 1px solid rgba(16, 16, 16, 0.9);
  border-right: none;
  border-bottom: none;
}

.palette .selected-swatch{
  font-size: small;
  font-style: italic;
}

.swatches {
  display: flex;
  gap: 2px;
}

.swatches div {
  width: 15px;
  height: 15px;
  border-radius: 2px;
}

.preview {
  height: 75px;
  aspect-ratio: 1;
  align-self: center;
}

.bark {
  background: #cba287 ;
  position: relative;
}

.bark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/bark.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.black-rock {
  background: #26262a;
  position: relative;
}
.black-rock::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/black-rock.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.clay {
  background: #d2af8f;
  position: relative;
}
.clay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/clay.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.concrete {
  background: #c7c6cb;
  position: relative;
}
.concrete::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/concrete.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.grassland {
  background: #9d9c5b;
  position: relative;
}
.grassland::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/grassland.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.heavy-metal {
  background: #5b2b62;
  position: relative;
}
.heavy-metal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/heavy-metal.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.lawn {
  background: #726b31;
  position: relative;
}
.lawn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/lawn.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.light-concrete {
  background: #97919a;
  position: relative;
}
.light-concrete::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/light-concrete.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.metal {
  background: #aa7cad;
  position: relative;
}
.metal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/metal.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.nailed-metal {
  background: #342140;
  position: relative;
}
.nailed-metal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/nailed-metal.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.sand {
  background: #d0c3ba;
  position: relative;
}
.sand::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/sand.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.warehouse {
  background: #b7b0bd;
  position: relative;
}
.warehouse::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/warehouse.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.watermelon {
  background: #354220;
  position: relative;
}
.watermelon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/watermelon.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.wooden-floor {
  background: #a8694b;
  position: relative;
}
.wooden-floor::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/wooden-floor.png");
  background-size: 100% 100%;
  opacity: 0.75;
}

.swatches .bio {
  background: #416f19;
}

.swatches .knight {
  background: #54a9c9;
}

.swatches .glitch {
  background: #5c787f;
}

.grid.bio {
  background: #416f19;
}
.grid.knight {
  background: #54a9c9;
}
.grid.glitch {
  background: #5c787f;
}

.blank {
  background: clear;
}

.swatches div {
  border: 1px solid rgba(16, 16, 16, 0.9);
}

.swatches .blank.selected,
.swatches .tile.selected {
  border-style: dashed;
}

@keyframes borderAnimation {
  from {
    background-position: 0 0, -2px 0, 100% -2px, 0 100%;
  }
  to {
    background-position: 0 -2px, 0 0, 100% 0, -2px 100%;
  }
}

.swatches .selected:not(.blank) {
  border-style: dashed;
  background-image: repeating-linear-gradient(
      -60deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    ),
    repeating-linear-gradient(
      30deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    ),
    repeating-linear-gradient(
      120deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    ),
    repeating-linear-gradient(
      210deg,
      #ccc,
      #ccc 1px,
      transparent 1px,
      transparent 2px,
      #ccc 2px
    );
  background-size: 1px calc(100% + 4px), calc(100% + 4px) 1px,
    1px calc(100% + 4px), calc(100% + 4px) 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation 1s infinite linear;
}

.swatches .blank {
  background-image: linear-gradient(
      -45deg,
      transparent 47%,
      red 47%,
      red 53%,
      transparent 53%,
      transparent 100%
    ),
    linear-gradient(
      -45deg,
      transparent 47%,
      red 47%,
      red 53%,
      transparent 53%,
      transparent 100%
    );
}

.knight .restricted.base {
  background: #829399;
}

.glitch .restricted.base {
  background: #c794d9;
}

.bio .restricted.base {
  background: #dcb19c;
}

.restricted.portal {
  background: #504b36;
}

.restricted.big-portal {
  background: #121012;
}

